<div class="mod sidebar nugget menu">
  <b class="top">
    <b class="tl"></b>
    <b class="tr"></b>
  </b>
  <div class="inner">
    <div class="hd">
      <h3>Authors</h3>
    </div>
    <div class="bd">
      <ul>
        <li><a href="{{ site.url }}andrewaylett/">Andrew Aylett</a></li>
        <li><a href="{{ site.url }}rolfbaxter/">Rolf Baxter</a></li>
        <li><a href="{{ site.url }}jonathancardy/">Jonathan Cardy</a></li>
        <li><a href="{{ site.url }}colineberhardt/">Colin Eberhardt</a></li>
        <li><a href="{{ site.url }}chrisgrant/">Chris Grant</a></li>
        <li><a href="{{ site.url }}stevenhall/">Steven Hall</a></li>
        <li><a href="{{ site.url }}nicholashemley/">Nicholas Hemley</a></li>
        <li><a href="{{ site.url }}grahamodds/">Graham Odds</a></li>
        <li><a href="{{ site.url }}lukepage/">Luke Page</a></li>
        <li><a href="{{ site.url }}mikeperrin/">Mike Perrin</a></li>
        <li><a href="{{ site.url }}chrisprice/">Chris Price</a></li>
        <li><a href="{{ site.url }}markrhodes/">Mark Rhodes</a></li>
        <li><a href="{{ site.url }}samhogarth/">Sam Hogarth</a></li>
        <li><a href="{{ site.url }}nicholaswolverson/">Nicholas Wolverson</a></li>
      </ul>
    </div>
  </div>
  <b class="bottom">
    <b class="bl"></b>
    <b class="br"></b>
  </b>
</div>